
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>


<div class="row col-sm-12">
  <div class="panel panel-default ">
    <div class="panel-heading">
      <h3 class="panel-title">{{titulo}}</h3>
    </div>
    <div class="panel-body">

    <div class="row">

      <form [formGroup]="userForm" (submit)="salvar()">

        <div class="col-lg-6 col-xs-12">

          <div class="form-group has-feedback">
            <label class="control-label" for="nome">Nome Completo</label>
            <input type="text" formControlName="full_name" class="form-control" id="nome"
                   [(ngModel)]="user.full_name" placeholder="Digite seu nome completo">

            <div *ngIf="!userForm.controls['full_name'].valid && userForm.controls['full_name'].touched" class="alert alert-danger">
              Nome é um campo obrigatorio.
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="control-label" for="email">E-mail <span style="color: red">*</span></label>
            <input type="email" formControlName="email" class="form-control" id="email"
                   [(ngModel)]="user.email" placeholder="Digite seu e-mail">
            <div *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched" class="alert alert-danger">
              E-mail é um campo obrigatorio.
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="control-label" for="pass">Senha <span style="color: red">*</span></label>
            <input type="password" formControlName="password" class="form-control" id="pass"
                   [(ngModel)]="user.password" placeholder="Digite sua senha">
            <div *ngIf="!userForm.controls['password'].valid && userForm.controls['password'].touched" class="alert alert-danger">
              Senha é um campo obrigatorio.
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="control-label" for="tel">Telefone</label>
            <input type="tel" formControlName="phone" class="form-control" id="tel"
                   [(ngModel)]="user.phone" placeholder="Digite seu telefone">
            <div *ngIf="!userForm.controls['phone'].valid && userForm.controls['phone'].touched" class="alert alert-danger">
              Telefone é um campo obrigatorio.
            </div>
          </div>

        </div>




        <div class="col-lg-6 col-xs-12">

          <div class="form-group has-feedback">
            <label class="control-label" for="cpf">CPF</label>
            <input type="number" formControlName="cpf" class="form-control" id="cpf"
                   [(ngModel)]="user.cpf" placeholder="Digite seu CPF">
            <div *ngIf="!userForm.controls['cpf'].valid && userForm.controls['cpf'].touched" class="alert alert-danger">
              CPF é um campo obrigatorio.
            </div>
          </div>

          <div class="form-group has-feedback" >
            <label class="control-label" for="rg">RG</label>
            <input type="number" formControlName="rg" class="form-control" id="rg"
                   [(ngModel)]="user.rg" placeholder="Digite seu RG" >
            <div *ngIf="!userForm.controls['rg'].valid && userForm.controls['rg'].touched" class="alert alert-danger">
              RG é um campo obrigatorio.
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="control-label" for="data">Data de Nascimento</label>
            <input type="date" formControlName="birth_date" class="form-control" id="data"
                   [(ngModel)]="user.birth_date" placeholder="Digite sua data de nascimento">
            <div *ngIf="!userForm.controls['birth_date'].valid && userForm.controls['birth_date'].touched" class="alert alert-danger">
              Data é um campo obrigatorio.
            </div>
          </div>


          <div class="form-group has-feedback">
            <label class="control-label" for="user">Usuario</label>
            <input type="text" formControlName="username" class="form-control" id="user"
                   [(ngModel)]="user.username" placeholder="Digite seu usuario">
            <div *ngIf="!userForm.controls['username'].valid && userForm.controls['username'].touched" class="alert alert-danger">
              Usuario é um campo obrigatorio.
            </div>
          </div>

        </div>

        <div class="col-xs-12">

          <div class="form-group text-right">
            <button type="button" class="btn btn-default" routerLink="/user">Voltar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Salvar</button>
          </div>

        </div>

      </form>

    </div>



    </div>

  </div>
</div>






